$breakpoints: (
  xs: 0,
  sm: 600px,
  md: 840px,
  lg: 1332px,
);

$breakpoints1: (
  lg: (
    gridsize: 12,
    gutter: 24px,
  ),
  md: (
    break: 1332px,
    gridsize: 12,
    gutter: 24px,
  ),
  sm: (
    break: 840px,
    gridsize: 12,
    gutter: 16px,
  ),
  xs: (
    break: 600px,
    gridsize: 12,
    gutter: 16px,
  ),
);

@function breakpoint-prev($name, $break: $breakpoints1, $breakpoint-names: map-keys($break)) {
  $n: index($breakpoint-names, $name);

  @return if($n != null and $n > 1, nth($breakpoint-names, $n - 1), null);
}

@function breakpoint-max($name, $break: $breakpoints1) {
  $prev: breakpoint-prev($name, $break);

  @return if($prev, map-get(map-get($break, $name), 'break') - 0.02px, null);
}

@mixin media-breakpoint-down($name, $break: $breakpoints1) {
  $max: breakpoint-max($name, $break);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

:export {
  @each $name, $breakpoint in $breakpoints {
    #{$name}: $breakpoint;
  }
}
