$accent: #ff5722;
$hover: #e64a18;
$highlight: #fbe9e7;

$alert: #faa000;
$background: #eceff1;
$border: #eceff1;
$dark: #14141e;
$error: #f44336;
$light: #fff;
$primary: #37474f;
$secondary: #767676;
$success: #4caf50;


$colors: (
  accent: $accent,
  hover: $hover,
  highlight: $highlight,

  alert: $alert,
  background: $background,
  border: $border,
  dark: $dark,
  error: $error,
  light: $light,
  primary: $primary,
  secondary: $secondary,
  success: $success,
);

/* You can do `import colors from 'colors.scss'` in your js code to get variables in JSON format */

:export {
  accent: $accent;
  hover: $hover;
  highlight: $highlight;

  alert: $alert;
  background: $background;
  border: $border;
  dark: $dark;
  error: $error;
  light: $light;
  primary: $primary;
  secondary: $secondary;
  success: $success;
}
