//colors
$light: #fff;
$background: #eceff1;
$table: #f5f5f5;
$primary: #37474f;
$secondary: #767676;

$border: #eee;

$hover: #e64a18;
$disabled: #eceff1;
$pressed: #b0bec5;
$focus: #1976d2;

$header: #334651;
$accent: #ff5722;
$hoverAccent: #64b5f6;

$hoverError: #e57373;
$error: #f44336;
$pressedError: #d32f2f;

$success: #4caf50;

$colors: (
  light: $light,
  background: $background,
  table: $table,
  primary: $primary,
  secondary: $secondary,
  hover: $hover,
  disabled: $disabled,
  pressed: $pressed,
  focus: $focus,
  header: $header,
  border: $border,
  accent: $accent,
  hoveraccent: $hoverAccent,
  hovererror: $hoverError,
  error: $error,
  pressederror: $pressedError,
  success: $success,
);

/* You can do `import colors from 'colors.scss'` in your js code to get variables in JSON format */

:export {
  accent: $accent;
  background: $background;
  disabled: $disabled;
  error: $error;
  focus: $focus;
  header: $header;
  hover: $hover;
  hoverAccent: $hoverAccent;
  hoverError: $hoverError;
  light: $light;
  pressed: $pressed;
  pressedError: $pressedError;
  primary: $primary;
  secondary: $secondary;
  success: $success;
  table: $table;
}
