// base colors
$base100: #fff;
$base200: #f3f3f4;
$base300: #eee;
$base400: #e0e0e0;
$base500: #bdbdbd;
$base600: #9e9e9e;
$base700: #757575;
$base800: #424242;
$base900: #14141e;

// primary colors
$primary900: #a72800;
$primary700: #e64a18;
$primary500: #ff5722;
$primary200: #ffeae3;

// state colors
$success: #00c853;
$error: #f44336;
$alert: #faa000;

$colors: (
  alert: $alert,
  error: $error,
  success: $success,
  //base
  base100: $base100,
  base200: $base200,
  base300: $base300,
  base400: $base400,
  base500: $base500,
  base600: $base600,
  base700: $base700,
  base800: $base800,
  base900: $base900,
  //primary
  primary900: $primary900,
  primary700: $primary700,
  primary500: $primary500,
  primary200: $primary200,
);

/* You can do `import colors from 'colors.scss'` in your js code to get variables in JSON format */

:export {
  alert: $alert;
  error: $error;
  success: $success;

  //base
  base100: $base100;
  base200: $base200;
  base300: $base300;
  base400: $base400;
  base500: $base500;
  base600: $base600;
  base700: $base700;
  base800: $base800;
  base900: $base900;

  //primary
  primary900: $primary900;
  primary700: $primary700;
  primary500: $primary500;
  primary200: $primary200;
}
