@import 'core';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap');

:global {
  * {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
  }

  #root {
    padding: 15px 30px;
  }

  svg,
  symbol {
    [fill]:not([fill='none']):not([fill^='url(']) {
      fill: currentColor !important;
    }

    [stroke]:not([stroke='none']):not([stroke^='url(']) {
      stroke: currentColor !important;
    }
  }

  ul {
    list-style: none;
  }

  a {
    outline: none;
    text-decoration: none;
  }

  input {
    outline: none;
  }

  button {
    outline: none;
  }

  .mb-1 {
    margin-bottom: 1rem !important;
  }

  .mr-1 {
    margin-right: 1px !important;
  }

  .ml-1 {
    margin-left: 1px !important;
  }

  .mt-1 {
    margin-top: 1rem !important;
  }

  .justify-around {
    justify-content: space-around;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-between {
    justify-content: space-between;
  }
}
